 <!-- FOOTER -->
    <footer class="site-footer">
        <div class="footer-container">

            <div class="footer-brand">
                <h3>HERBGLOW</h3>
                <p>Too Natural for Life</p>
            </div>

            <div class="footer-links">
                <h4>Who We Are</h4>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Blog</a>
                <a href="#">FAQs</a>
            </div>

            <div class="footer-links">
                <h4>Best Seller</h4>
                <a href="#">Spirulina Capsule</a>
                <a href="#">Shilajit Resin</a>
                <a href="#">Moringa Powder</a>
                <a href="#">Hair Oil</a>
            </div>