<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <h2>LOGIN</h2>
    {% if messages %}
        {% for message in messages %}
            {% if 'login' in message.extra_tags %}
                <p class="auth-message {{ message.tags }}">{{ message }}</p>
            {% endif %}
            {% if 'goto_success' in message.extra_tags %}
                 <p class="goto_success">{{ message }}</p> <br>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form action="http://127.0.0.1:8000/verify_login/" method="post">
        {% csrf_token %}
        Username:- <input type="text" name="username"><br>
        Password:-<input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
<p class="switch">
    New customer?
    <a href="#" id="openRegister">Create your account</a>
</p>