<header class="navbar">
    <div class="logo">
        <span class="logo-text">HERBGLOW</span>
        <span class="logo-sub">Too Natural</span>
    </div>

    <nav class="menu">
        <a href="#"><i class="fa-solid fa-store"></i> Shop All</a>
        <a href="{% url 'category-products' 'soap' %}"><i class="fa-solid fa-shield-heart"></i> Soap</a>
        <a href="#"><i class="fa-solid fa-face-smile"></i> Skin Care</a>
        <a href="#"><i class="fa-solid fa-heart-pulse"></i> Heart Care</a>
        <a href="#"><i class="fa-solid fa-spa"></i> Wellness</a>
    </nav>

    <div class="icons">
        <i class="fa-solid fa-magnifying-glass"></i>

        <div class="user-menu">
            <a href="{% url 'profile' %}">
                <i class="fa-regular fa-user"></i>
            </a>
        </div>

        <i class="fa-solid fa-cart-shopping"></i>
    </div>
</header>
