* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #fff;
  color: #222;
}



/* PRODUCT LAYOUT */
.product-container {
  display: flex;
  padding: 60px;
  gap: 60px;
}

/* IMAGES */
.product-images {
  display: flex;
  gap: 60px;
  width: 60%;
}

.main-image {
    flex: 1;
    width: 80%;
    height: 90%;

}

.thumbs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbs img {
  width: 80px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.main-image img {
  width:inherit;
  height: inherit;
}


/* PRODUCT INFO */
.product-info {
  max-width: 500px;
}

.badge {
  background: #1a8f4d;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px;
}

.product-info h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

.price {
  margin-bottom: 10px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
}

.new-price {
  font-size: 28px;
  color: #0b6b3a;
  font-weight: bold;
}

.rating {
  margin: 15px 0;
}

.benefits {
  list-style: none;
  margin: 20px 0;
}

.benefits li {
  margin-bottom: 8px;
}

.weight {
  margin-bottom: 20px;
}

/* PURCHASE BOX (Amazon style) */
.purchase-box {
  margin-top: 20px;
}

/* Quantity + Add to Cart row */
.qty-cart-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

/* Quantity styling */
.quantity {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 6px 14px;
  gap: 14px;
}

.quantity button {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

/* Add to cart button */
.add-cart {
  flex: 1;
  border-radius: 30px;
  font-weight: 600;
}

/* Buy now button */
.buy-now {
  border-radius: 30px;
  font-weight: 600;
}

/* WhatsApp button */
.whatsapp-btn {
  border-radius: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.whatsapp-btn i {
  font-size: 18px;
}


/* BUTTONS */
.btn {
  width: 100%;
  padding: 14px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 16px;
}

.primary {
  background: #0b6b3a;
  color: #fff;
}

.secondary {
  background: #333;
  color: #fff;
}

.whatsapp {
  background: #25d366;
  color: white;
}

