{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Variant</title>
  <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/wizard.css' %}">
</head>

<body>

  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <h2 class="logo">Herbglow</h2>
      <nav>
        <p class="menu-title">Main Menu</p>
        <a href="/admin/" class="active">Dashboard</a>
        <a href="#">Order Management</a>
        <a href="#">Customers</a>
        <a href="#">Coupon Code</a>
        <a href="#">Categories</a>
        <a href="#">Transaction</a>
        <a href="#">Brand</a>
        <p class="menu-title">Product</p>
        <a href="/admin/add-category">Add category</a>
        <a href="/admin/add-product">Add Products</a>
        <a href="/admin/add-variant">Add variant</a>
        <a href="#">Product List</a>
        <a href="#">Product Reviews</a>
        <p class="menu-title">Admin</p>
        <a href="#">Admin Role</a>
        <a href="#">Control Authority</a>
        <a href="/admin/logout">Logout</a>
      </nav>
    </aside>

    <!-- Main Content -->
    <div class="main">
      <div class="card">
        <div class="messages">
          {% if messages %}
          {% for message in messages %}
          <p class="alert {{ message.tags }}">{{ message }}</p>
          {% endfor %}
          {% endif %}
        </div>
        <h3>Add Product</h3>

        <!-- Wizard Steps -->
        <div class="wizard-steps">
          <div class="step active" data-step="1">Variant details</div>
          <div class="step" data-step="2">Variant images</div>
        </div>

        <form id="productWizardForm" method="post" enctype="multipart/form-data" action="/admin/add-variant/">
          {% csrf_token %}

          <!-- STEP 1: Product Info -->
          <div class="step-content active" data-step="1">
            <input type="text" name="name" placeholder="Variant Name" required>
            <input type="text" name="price" placeholder="Price" required>
            <input type="text" name="compare_at_price" placeholder="compare_at_price" required>
            <input type="text" name="stock" placeholder="stock" required>
            <select name="product_id" required>
              <option value="" disabled selected>Select Product</option>
              {% for product in products %}
              <option value="{{ product.product_id }}">{{ product.product_name }}</option>
              {% endfor %}
            </select>

            <button type="button" class="btn btn-green" onclick="validateStep1()">Next</button>
          </div>

          <!-- STEP 2: Product Images -->
          <div class="step-content" data-step="2">
            <label>Upload variant Images</label>
            <input type="file" name="variant_images" id="variant_images" multiple accept="image/*" required>
            <div class="image-preview" id="imagePreview"></div>

            <br>
            <button type="button" class="btn btn-gray" onclick="prevStep()">Back</button>
            <button type="submit" class="btn btn-green">Submit Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{% static 'js/variant_wizard.js'%}"></script>
</body>

</html>