{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add Product</title>
  <link rel="stylesheet" href="{% static 'css/admin_style.css'%}">
</head>
<body>

<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2 class="logo">Herbglow</h2>

    <nav>
      <p class="menu-title">Main Menu</p>
      <a href="/admin/" class="active">Dashboard</a>
      <a href="#">Order Management</a>
      <a href="#" >Customers</a>
      <a href="#">Coupon Code</a>
      <a href="#">Categories</a>
      <a href="#">Transaction</a>
      <a href="#">Brand</a>

      <p class="menu-title">Product</p>
      <a href="/admin/add-category">Add category</a>
      <a href="/admin/add-product">Add Products</a>
      <a href="#">Product List</a>
      <a href="#">Product Reviews</a>

      <p class="menu-title">Admin</p>
      <a href="#">Admin Role</a>
      <a href="#">Control Authority</a>
      <a href="/admin/logout">Logout</a>
    </nav>
  </aside>

  
  <div class="card">
    <div class="messages">
      {% if messages %}
          {% for message in messages %}
              <p class="alert {{ message.tags }}">{{ message }}</p>
          {% endfor %}
      {% endif %}
  </div>
    <h3>Add a Product</h3>
    <form action="/admin/add-product/" method="post">
        {% csrf_token %}
        <input type="text" name="product_name" placeholder="Enter Product Name" required> <br><br>
        <textarea name="description"  placeholder="Enter the product description"></textarea><br><br>
        <select name="category_id" id="category_id">
            <option value="">Select categories</option>
            {% for category in categories %}
            <option value="{{category.category_id}}">{{category.category_name}}</option>
            {% endfor %}
        </select>
        <br><br>
        <button class="btn-green" type="submit">Next</button>
        <!-- <a href="{% url 'add_product' %}" class="btn-red">Cancel</a> -->
    </form>
</div>
