<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2 class="logo">Herbglow</h2>

    <nav>
      <p class="menu-title">Main Menu</p>
      <a href="/admin/" class="active">Dashboard</a>
      <a href="#">Order Management</a>
      <a href="#" >Customers</a>
      <a href="#">Coupon Code</a>
      <a href="#">Categories</a>
      <a href="#">Transaction</a>
      <a href="#">Brand</a>

      <p class="menu-title">Product</p>
      <a href="/admin/add-category">Category List</a>
      <a href="/admin/product-list">Product List</a>
      <a href="/admin/add-batch">Batch List</a>
      <a href="#">Product Reviews</a>

      <p class="menu-title">Admin</p>
      <a href="#">Admin Role</a>
      <a href="#">Control Authority</a>
      <a href="/admin/logout">Logout</a>
    </nav>
  </aside>