{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lists.css' %}">
</head>

<body>
    {% include "admin_navbar.html" %}
    <div class="main">
        <div class="table-card">
            <div class="table-header">
                <h3>Transactions</h3>
                <select id="statusFilter" onchange="filterTable()">
                    <option value="ALL">All Status</option>
                    <option value="PAID">Success (PAID)</option>
                    <option value="PENDING">Pending</option>
                    <option value="FAILED">Failed</option>
                </select>
            </div>
            <div class="table-wrapper">
                <table class="admin-table" id="transTable">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr data-status="{{ order.status }}">
                            <td>{{ order.order_number }}</td>
                            <td>₹{{ order.total_amount }}</td>
                            <td><span class="status {% if order.status == 'PAID' %}active{% else %}inactive{% endif %}">
                                    {{ order.status }}
                                </span>
                            </td>
                            <td>{{ order.created_at|slice:":10" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="empty">No transactions</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{% static 'js/admin_script.js'%}"></script>
    <script>
        function filterTable() {
            const status = document.getElementById('statusFilter').value;
            const rows = document.querySelectorAll('#transTable tbody tr:not(.empty)');
            rows.forEach(row => {
                if (status === 'ALL' || row.dataset.status === status) row.style.display = '';
                else row.style.display = 'none';
            });
        }
    </script>
</body>

</html>